.cart {
    box-shadow: 5px 7px 11px rgb(246, 216, 216);
}

.title {
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 3px 5px #dddddd;
    text-align: center;
}

.cart-info h4 {
    font-style: normal;
    font-size: 2rem;
    color: #1C2B35;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 2rem;
}

.cart-info p {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #2A414F;
}

.cart-info h6 {
    padding: 15px 0;
    font-size: 21px;
    line-height: 25px;
    color: #0E161A;
}

.container-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clear {
    width: 90%;
    border: none;
    background-color: #F7CA00;
    font-size: 18px;
    padding: 10px 0;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 50px;
    box-shadow: 5px 7px 11px rgb(212, 212, 212);
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 20px;
}

.clear:hover {
    background-color: #f8d950;
}

.buy {
    width: 90%;
    border: none;
    background-color: #FA8800;
    font-size: 18px;
    padding: 10px 0;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 50px;
    box-shadow: 5px 7px 11px rgb(212, 212, 212);
    cursor: pointer;

}

.buy:hover {
    background-color: #f3a647;
}